<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="attractions">
    <h1>Browse Attractions</h1>

    <div th:if="${not #lists.isEmpty(attractions)}" class="attractionsTable">
        <table class="table-attractions">
            <thead>
            <tr>
                <th>Location</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${attractions}" class="table-row">
                <td th:text="${row.place}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.description}"></td>
                <td th:text="${row.type}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(attractions)}" class="no-data-message">
        <p>There are currently no attractions available in the database.</p>
    </div>
</div>

</body>
</html>
